body{
    font-family: "Montserrat";
    text-align: center;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

/* headings */

 h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}

h2{
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
    font-size: 40px;
}

h3{
    font-weight: 400;
}
    

.title-text{
    font-family: 'Montserrat';
    font-weight: bolder;
    line-height: 1.5;
    font-size : 48px;
}

.pricing-txt{
    color: black;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.colored-section{
    background-color: #ef717e;
}

.uncolored-section{
    background-color: #fff;
}

/* navbar */

.navbar{
    padding-bottom: 2.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    margin-left: 2rem;
}

.nav-link{
    font-family: "Roboto";
    font-size: 1.5rem;
    color: #fff;
}

.row{
    text-align: left;
}

.btn{
    margin: 2rem 1rem 0 0;
    
}

.dogimg{
    width: 20%;
    transform: rotate(25deg); 
    position: absolute;
    z-index: 0;  
    right: 22%;
}

#features{
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

.feature-box{
    padding: 5%;
}



.icon{
    color: #ef717e;
}
.icon:hover{
    color: #ff4c68;
}


.test-img{
    width: 10%;
    border-radius: 100%;
    margin: 5% 5% 0% 5%;
}

.press-img{
    width: 15%;
    margin: 2%;
    margin-bottom: 5%;
}

#carousel-testimonial{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
}

.card{
    text-align: center;
    margin: 20% 10%;
}

@media (max-width: 1070px) and (min-width: 992px){
    .dogimg{
        width: 70%;
        position: relative;
        transform: rotate(0);
        left: 100px;
    }
    .btn{
        margin: 2rem 0;
    }
}

@media (max-width: 992px){
    .dogimg{
        width: 40%;
        position: static;
        transform: rotate(0);
        margin-top: 4rem;
    }
    .row{
        text-align: center;
    }
    
}

#cta{
    padding: 7% 15%;
}

#footer{
    padding: 5% 15%;
}